output/* linguist-detectable=false
static/css/*.css linguist-detectable=false
static/images/*.png linguist-detectable=false
static/js/*.js linguist-detectable=false
templates/*.html linguist-detectable=false
website/htdocs/css/*.css linguist-detectable=false
website/htdocs/js/*.js linguist-detectable=false
website/htdocs/* linguist-detectable=false
upload/* linguist-detectable=false
*.txt linguist-detectable=false
*.py linguist-detectable=true
